extends layout
block content
  meta(name="page" content= id)
  title  NGNDaily - #{title}
  meta(name="description" content= mBody )
  .content-wrapper
    .row
        .jumbotron.col-md-12.content-container
          .article
            .article-header
              h3= title
                small= date
              .media.pull-right(id="art-auth")
                img.media-object.user-avatar.pull-right(src= auth_ava, href="/author/"+author)
                a.pull-right(href='/author/'+author)= author
            .article-wrapper
              hr
              if authorhandle == author || authorhandle == "brando"
                a(href="#").delete.pull-right delete
              div.article-text
                p.article-body!= body
              hr

              .comment-wrapper.col-md-12
                .upvotes
                  button.vote(id="votes" attr="upvoted").btn-success
                    span.glyphicon.glyphicon-chevron-up
                      p.pull-left Upvote
                        span.votes.upvs  (#{upvo})
                  button.vote(id="votes" attr="downvoted").btn-danger
                    span.glyphicon.glyphicon-chevron-down
                      p.pull-left Downvote
                        span.votes.dwnvs(attr)  (#{dwnvo})
                .row
                h2 Comments
                .comment-container(style="width:100%")
                  form.comment-form(name='write-comment', method='POST' action="/comment")
                    label(for='comment-content')
                      | Write a Comment:
                    textarea.content-body(name="comment-body")#comment-content.restrict-resize-vertical.comment-write
                    .post-btn
                      input.btn.btn-success.login-btn(type='submit' value="Post Comment")
                .comment-holder.col-md-12
                  //-.commentpost.comment-container.well
                  //-   .media.pull-left
                  //-     img.media-object.user-avatar.pull-left(src='/imgs/64user.svg', href='#')
                  //-     a.pull-left(href='#')
                  //-       | Anonymous
                  //-   .comment-well
                  //-     p
                  //-       | Donec tempus dui nec urna cursus vulputate quis a enim. Mauris eget erat condimentum, tincidunt nunc sit amet, vulputate ipsum. Duis est turpis, rutrum et vestibulum a, aliquam non tellus. Aenean cursus fringilla tortor, ac elementum lectus mollis nec. Duis eu placerat metus. Maecenas quis libero tempor, placerat nulla quis, pharetra est. Nunc et tellus lacus.
  script(type="text/javascript" src="/javascripts/article_fn_js.js")
  if loggedIn == true && authorhandle == author || authorhandle == "brando"
    script(type="text/javascript" src="/javascripts/article_auth_func.js")